<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>61208255675-09j8fvpbn5ake2uhlesb9clq2c1ci45l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.61208255675-09j8fvpbn5ake2uhlesb9clq2c1ci45l</string>
	<key>API_KEY</key>
	<string>AIzaSyAXB7erXBsTlFLXL5g8QPdCWebE1TG840U</string>
	<key>GCM_SENDER_ID</key>
	<string>61208255675</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.uiassignment</string>
	<key>PROJECT_ID</key>
	<string>learndart01</string>
	<key>STORAGE_BUCKET</key>
	<string>learndart01.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:61208255675:ios:cc2a87fefc1ef174d59d9e</string>
</dict>
</plist>